/Asignments/Lab7/nbproject/private/
/Asignments/Lab7/build/
/Asignments/Lab8/nbproject/private/
/Asignments/Lab8_1/nbproject/private/
/Asignments/Lab8_1/build/
/Asignments/Lab8_2/nbproject/private/
/Asignments/Lab8_2/build/